/* header starts */

header {
  width: 1000px;
  margin: auto;
}
nav {
  box-shadow: 0px 2px 3px 0px #ddd;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > nav > ul {
  display: flex;
  align-items: center;
}
header > nav > ul button {
  margin-right: 25px;
}
header > nav > ul li {
  list-style: none;
  margin-right: 25px;
}
header > nav > ul li a {
  text-decoration: none;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left img {
  width: 86.041px;
  height: 40px;
}
.header-left h2 {
  width: 144.057px;
  height: 30.6px;
}
.btn-icon {
  background-color: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 7px 24px;
  cursor: pointer;
}
.btn-icon i {
  color: red;
}

/* header ends */

/* banner starts */

.banner-content h1 {
  color: #8758f1;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 200px; */
  width: 1000px;
}
.banner-content {
  width: 400px;
}
.banner-image {
  width: 400px;
}
.banner-image img {
  width: 100%;
}
.btn-sign-in {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: #ff42a5;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}
.btn-go-rouge {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: #4ec5f7;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

/* banner ends */

/* gamer section starts */
.gamer {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.gamer-image {
  width: 480px;
}
.gamer-image img {
  width: 100%;
}
.gamer-content {
  width: 400px;
  text-align: right;
}
.gamer-content h1 {
  color: #8758f1;
}
.gamer-content h4 {
  color: #534c64;
}
.gamer-content p {
  color: #534c64;
}
/* gamer section ends */

/* mobile responsive */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner-content {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 50%;
  }
  .gamer {
    flex-direction: column;
  }
}
